.table-row-cell:selected {
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: white;
}

.table-view:focused .table-row-cell:filled:selected {
    -fx-background-color: -fx-selection-bar;
}
